<div class="w-full lg:w-[40vw] h-full bg-gray-500 flex justify-center items-center">
  <% if post.video.attached? %>
    <%= video_tag post.video, controls: true %>
  <% else %>
    <p class="text-xl text-gray-100"> No video found <p>
  <% end %>
</div>